<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <img src="/images/apple.png" alt="">
    {{{body}}}
  </body>
</html>
