<!DOCTYPE html>
<html>
  <head>
    <title>{{name}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <img src="/images/apple.png" alt="apple logo" width="100px" id="appleLogo">
    {{{body}}}
  </body>
</html>
