body {
  padding: 50px;
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: #00B7FF;
}

@media screen and (min-width: 480px) {
  #appleLogo {
    margin-left: 20%;
  }
  
  #productIMG {
    width: 90%;
  }
  
  #info {
    float: none;
    width: 95%;
  }
}


@media screen and (max-width: 480px) {
  #appleLogo {
    margin-left: 45%;
  }
  
  #productIMG {
    width: 40%;
  }
  
  #info {
    float: right;
    width: 50%;
  }
}


